.ContactoCard{
    color: rgb(221, 221, 221);
    background-color: rgb(20, 20, 20);
    padding: 20px 30px 40px 30px;
    display: flex;
    justify-content: center;
    
}


.SocialIcono{
    margin: 5px 10px 5px 10px;
    color: rgb(177, 14, 14);
    transform: matrix(1, 0, 0, 1, 0, 0);

    transition: 0.25s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.SocialIcono:hover{
    color: rgb(255, 255, 255);
    transform: matrix(1.2, 0, 0, 1.2, 0, 0);
}